
body{
    margin-top: 0 auto;
    margin: 0 auto;
    display: flex;
}

#Fondo{
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(
            190deg , 
            #00002A,30%,
            #6A1321,90%,      
            #000000, 
            #000000
            );
}

#Name{
    font-size: 80px;
    position: relative;
    top: -10px;
    left: 20px;
    color: #ffffff;
}

#Text_student{
    font-size: 30%;
    position: relative;
    top: -65px;
    left: 20px;
    color: white;
}

#Icono_Github{
    position: relative;
    left: 3%;
    top: 300px;
    width: 65px;
}

#Icono_Linkedin{
    position: relative;
    left: 50px;
    top: 300px;
    width: 60px;
}

.SP{
    background: none;
    border: none;
    font-size: 25px;
    color: white;
    position: relative;
    top: -250px;
    left: 800px;
}
#PP{
    background: none;
    border: none;
    font-size: 25px;
    color: white;
    position: relative;
    top: -250px;
    left: 825px;
}

#SobreMi{
    font-size: 25px;
    color: white;
    margin-top: -100px;
    margin-left: 600px;
    margin-right: 100px;
}
#Perfil{
    font-size: 25px;
    color: white;
    margin-top: -250px;
    margin-left: 600px;
    margin-right: 100px;
}